@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --azul-primario: #2E607C;
    --azul-medio: #4A90B2;
    --azul-claro: #A9D5F0;
    --azul-acinzentado: #4B5563;
    --cinza-claro: #F7F7F7;
}

body{
    font-family: "Poppins", sans-serif !important;
}

.container-fluid{
    padding-left: 60px;
    padding-right: 60px;
}

.logo-pequena {
    display: none !important;
}

/* Mostra a logo pequena e esconde a grande em telas menores */
@media (max-width: 620px) {
    .logo-grande {
        display: none !important;
    }

    .logo-pequena {
        display: block !important;
        height: 80px !important; 
        width: auto !important;
    }
    

    .home-section-img{
        width: 20vw;
        height: auto;
    }
}


main{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    row-gap: 40px;
}

/* ---------- HOME SECTION --------------*/
.btn-adotar{
    margin-top: 2rem;
    background-color: var(--azul-medio) !important;
    color: #D2ECF7 !important;
}

.btn-adotar a{
    color: #D2ECF7 !important;
    text-decoration: none !important;
}

.btn-adotar:hover{
    background-color: var(--azul-primario) !important;
    color: #FFFFFF !important;
}

