.navbar {
    background-color: var(--branco);
}

.navbar-nav {
    column-gap: 40px;
}

.navbar-img {
    height: 100px !important;
    width: auto !important;
}

.nav-link{
  background:
    linear-gradient(
      to right,
      rgba(74, 144, 178, 0),
      rgba(74, 144, 178, 0)
    ),
    linear-gradient(
      to right,
      rgba(74, 144, 178, 1),
      rgba(74, 144, 178, 1)
  ) !important;
  background-size: 100% 3px, 0 3px !important;
  background-position: 100% 100%, 0 100% !important;
  background-repeat: no-repeat !important;
  transition: background-size 400ms !important;
}

.nav-link:hover{
  background-size: 0 3px, 100% 3px !important;
}

.logo-pequena {
    display: none !important;
}

/* Mostra a logo pequena e esconde a grande em telas menores */
@media (max-width: 620px) {
    .logo-grande {
        display: none !important;
    }

    .logo-pequena {
        display: block !important;
        height: 4rem !important;
        width: auto !important;
    }

}
