@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --azul-primario: #2E607C;
    --azul-medio: #4A90B2;
    --azul-claro: #A9D5F0;
    --azul-acinzentado: #4B5563;
    --cinza-claro: #F7F7F7;
}

.home-section{
    background-image: linear-gradient(#A4D8F0, #FFFFFF);
    display: flex;
    width: 100%;
}

.home-section-text{
    color: var(--azul-primario);
    padding-top: 10%;
    padding-left: 10%;
}

.home-section-text h1 {
    font-weight: bold;
}

.home-section-img{
    width: 50%;
    height: auto;
}

/* até 800px a imagem não aparece */
@media (max-width:800px) {
    .home-section-img{
    display: none;
}
.home-section-text{
    text-align: center;
    padding: 5% 10%;
}
}